* {
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px;
    padding-bottom: 20px;
}

body {
    direction: rtl;
    background-color: #f5f5f5; /* خاکستری روشن */
    font-family: Arial, sans-serif;
}

.top {
    width: 100%;
    background-color: #777C6D; /* خاکستری تیره */
    text-align: center;
    padding: 30px;
}

.top h1 {
    color: #CD2C58; /* زرد طلایی */
    font-size: 70px;
}

.box {
    background-color: #e0e0e0; /* خاکستری روشن */
    width: 100%;
    float: right;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box .right {
    width: 42%;
    background-color: #ffffffcc; /* سفید شفاف */
    float: right;
    padding: 20px;
    border-radius: 10px;
}

.box .left {
    width: 42%;
    background-color: #ffffffcc; /* سفید شفاف */
    float: left;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.right p {
    line-height: 25px;
    text-align: justify;
    color: #333333; /* متن خاکستری تیره */
}

.right span {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #666666; /* خاکستری متوسط برای اسم */
}

.main {
    background-color: #e0e0e0; /* خاکستری روشن */
    width: 100%;
    float: right;
    padding: 40px;
    display: flex;
    justify-content: center;
}

.myform {
    width: 42%;
    background-color: #ffffffcc; /* سفید شفاف */
    float: right;
    padding: 20px;
    border-radius: 10px;
}

.myform input[type="text"],
.myform input[type="email"],
.myform input[type="password"] {
    padding: 10px;
    width: 80%;
    margin-bottom: 15px;
    border: 1px solid #999999; /* خاکستری */
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #ffde59; /* زرد طلایی */
    color: #333333; /* متن خاکستری تیره */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}

button:hover {
    background-color: #ffd633; /* زرد روشن‌تر هنگام هاور */
}
